body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 900px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.input-area {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}

#message {
    color: green;
    font-weight: bold;
    height: 20px;
}

.board {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 30%;
    min-height: 300px;
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 10px;
}

.task {
    background-color: lightblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: grab;
}
